.dance {
    &__university {
        padding: 10px 60px;
    }

    &__university-image {
        width: 700px;
        border: 4px solid white;
    }

    &__home {
        padding: 10px 60px;
    }
}